{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</head>

<body class="container">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">HR Service</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="dropdown open">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Работа с кадрами
                </button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'free_worker' %}">Свободные рабочии</a>
                    <a class="dropdown-item" href="{% url 'companylist' %}">Работники предприятия</a>
                    <a class="dropdown-item" href="{% url 'departamentlist' %}">Отделы предприятия</a>

                </div>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            {% if  user.is_authenticated %}
                <ul class="navbar-nav  text-right">
                    <li class="nav-item ">
                        <a class="nav-link" href="#"> {{ user }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign_out' %}">Выход</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav  text-right">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'signin' %}">Войти</a>
                    </li>
                </ul>
                <ul class="navbar-nav  text-right text-center">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'signup_worker' %}">Регистрация <br>работника</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'signup_company' %}">Регистрация <br> компании</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container jumbotron jumbotron-fluid"><br>
    <h2 class="text-center">{% block namepage %}{% endblock namepage %}</h2>
    <div class="d-flex bd-highlight ">

        <div class="p-2 w-75 align-content-center container bd-highlight ">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

</body>
</html>
