{% extends 'hrapp/base.html' %}
{% block namepage %}Главная{% endblock namepage %}
{% block content %}
    <h3 class="text-success text-center">HR Service</h3>
    <P class="lead text-justify">Это платформа на которой работодатель может  найти себе работника,
        а соискатель может найти себе работу. У пользователей есть возможность зарегистрироваться, как
    компания или как работник. Работодатель может не только найти себе работника, но и вести учет своего персонала
    , проводить кадровые перестановки и увольнять работников.</P>
{% endblock content %}