{% extends 'hrapp/base.html' %}
{% block namepage %}
    Профиль работника.
{% endblock namepage %}
{% block content %}
    <p>Логин работника: {{ worker.user.username }}</p>
    <p>Имя работника: {{ worker.user.first_name }}</p>
    <p>Фамилия работника: {{ worker.user.last_name }}</p>
    <p>Роль работника в системе:{{ worker.get_role_display }}</p>
    <p>Должность работника: {{ worker.position }}</p>
    <p>Отдел работника: {{ worker.position.departament }}</p>
    <p>Компания работника: {{ worker.position.departament.company }}</p>

    {% if not worker.vakant %}
        <button class='form-control btn-success mb-1' onClick='location.href="{% url 'lay_off' pk=worker.pk %}"'>Уволить</button>
        <button class='form-control btn-success mb-1' onClick='location.href="{% url 'put_on_hold' pk=worker.pk %}"' >Перевести на другую должность</button>
        <button class='form-control btn-success mb-1' onClick='location.href="{% url 'rolechoices' pk=worker.pk %}"'>Изменить роль работника</button>
    {% else %}
        <button class='form-control btn-success mb-1' onClick='location.href="{% url 'put_on_hold' pk=worker.pk %}"'>Назначить на должность</button>
    {% endif %}
{% endblock content %}